.sidebar__body {
    margin-left: 30px;
    margin-top: 30px;
    width: 80px;
    height: 97.5%;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 20px;
    padding: 40px 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__body .user{
    margin-left: 17.5px;
    width: 45px; height: 45px;
    background-color: rgba(255,255,255,0.8);
    font-size: 24px;
    color:#444;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sidebar__body .user > span{
    width: 9px; height: 9px;
    border-radius: 50px;
    background-color: #444;
    position:absolute;
    transform: translate(17px,17px);
}

.sidebar__body .user.online > span{
    background-color: #64FA30;
}

.sidebar__body .exit{
    font-size:24px;
    color:#fff;
    cursor: pointer;
    transition:0.3s;
}

.sidebar__body .exit:hover{
    color:#444;
    transition:0.3s;
}

.sidebar__menu {
    opacity: 100%;
}

.sidebar__menu > li {
    width: 100%;
    height: 80px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 24px;
    transition:0.5s;
}

.sidebar__menu > li:hover,
.sidebar__menu >li.on{
    background: white;
    color:#444;
    transition:0.5s;
}

