.top__bar {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    height: 6vh;
    width: 100%;
}

.top__bar .title__box{
    width: 300px;
    justify-content: space-between;
    align-items: center;
    font-size:30px;
}

.top__bar > h1{
    width:19.8%;
}

.top__bar > div {
    display: flex;
}

.top__bar > div > .search__bar {
    background-color: rgba(255, 255, 255, 0.6);
    width: 15vw;
    border: none;
    border-radius: 15px;
    text-indent: 2rem;
}

.top__bar > div > .bell {
    margin-left: 1vw;
    padding: 5px;
    font-size: 1.5rem;
}

.top__bar .title__box > button {
    background-color: transparent;
    border:none;
    font-size: 24px;
    cursor: pointer;
}

.top__bar .title__box > button:hover{
    color:rgba(0,0,0,0.5);
}